<div class="text-white py-16 pb-32 mobile:px-8">
  <div class="text-center desktop:text-[36px] mobile:text-2xl text-primary font-bold">
    <h5 class="text-primary">Create MINT NFT</h5>
  </div>
  <div class="flex gap-8 mt-8 mobile:flex-col desktop:flex-row">
    <div class="flex items-center flex-col create-mint-nft-item desktop:min-h-[360px] mobile:min-h-[250px] px-4 py-8 border-t-2 border-b-2 rounded-xl">
      <div class="relative desktop:h-[20%] mobile:h-[50px] w-full">
        <img class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-[90px] h-[90px]"
          src="./assets/images/sphere.png" />
        <img class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2" src="./assets/images/create.png" />
      </div>
      <span class="desktop:text-[32px] mobile:text-xl mt-8">Create</span>
      <p class="mt-8 text-sm text-gray">
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
        galley of type and scrambled it to make a type specimen book.
      </p>
      <span class="mt-8 text-primary">
        Get Started
      </span>
    </div>

    <div class="flex items-center flex-col create-mint-nft-item desktop:min-h-[360px] mobile:min-h-[250px] px-4 py-8 border-t-2 border-b-2 rounded-xl">
      <div class="relative desktop:h-[20%] mobile:h-[50px] w-full">
        <img class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-[90px] h-[90px]"
          src="./assets/images/sphere.png" />
        <img class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2" src="./assets/images/mint.png" />
      </div>
      <span class="desktop:text-[32px] mobile:text-xl mt-8">Mint NFT</span>
      <p class="mt-8 text-sm text-gray">
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
        galley of type and scrambled it to make a type specimen book.
      </p>
      <span class="mt-8 text-primary">
        Get Started
      </span>
    </div>

    <div class="flex items-center flex-col create-mint-nft-item desktop:min-h-[360px] mobile:min-h-[250px] px-4 py-8 border-t-2 border-b-2 rounded-xl">
      <div class="relative desktop:h-[20%] mobile:h-[50px] w-full">
        <img class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-[90px] h-[90px]"
          src="./assets/images/sphere.png" />
        <img class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2" src="./assets/images/buy-sell.png" />
      </div>
      <span class="desktop:text-[32px] mobile:text-xl mt-8">Buy, Sell NFT</span>
      <p class="mt-8 text-sm text-gray">
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
        galley of type and scrambled it to make a type specimen book.
      </p>
      <span class="mt-8 text-primary">
        Get Started
      </span>
    </div>
  </div>
</div>