<div class="z-[2] desktop:-mt-16">
    <img src="./assets/images/user-ava.png" class="desktop:h-[256px] mobile:h-[128px] desktop:w-[256px] mobile:w-[128px]" />
    <span class="text-[32px] font-bold mt-2 block">Polysport</span>
    <span class="text-sm">0120122...451XXXXX</span>
</div>