<div class="absolute top-0 left-0 w-full h-screen">
    <img class="absolute right-0 top-[5%]" src="./assets/images/decor/decor-1.png"/>
    <img class="absolute left-0 top-[10%]" src="./assets/images/decor/decor-2.png"/>
    <img class="absolute left-[5%] top-[25%]" src="./assets/images/decor/decor-circle.png"/>
    <img class="absolute left-0 top-1/2" src="./assets/images/decor/decor-2.png"/>
    <img class="absolute left-0 top-[110vh]" src="./assets/images/decor/decor-3.png"/>
    <img class="absolute right-0 top-[120vh]" src="./assets/images/decor/decor-4.png"/>
</div>