<div class="desktop:px-32 mobile:px-4 mobile:pb-8 desktop:pb-0 relative desktop:pt-36 mobile:pt-32">
    <ul
        class="items-center w-full text-sm font-medium text-gray-900 border border-gray-200 rounded-lg sm:flex list-filter">
        <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r">
            <div class="flex items-center ps-3">
                <input id="horizontal-list-radio-profile" type="radio" value="" name="list-radio"
                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 focus:ring-2">
                <label for="horizontal-list-radio-profile"
                    class="w-full py-3 ms-2 text-sm font-medium text-gray-900">User profile
                </label>
            </div>
        </li>
        <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r">
            <div class="flex items-center ps-3">
                <input id="horizontal-list-radio-collected" type="radio" value="" name="list-radio"
                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 focus:ring-2">
                <label for="horizontal-list-radio-collected" class="w-full py-3 ms-2 text-sm font-medium text-gray-900">Collected</label>
            </div>
        </li>
        <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r">
            <div class="flex items-center ps-3">
                <input id="horizontal-list-radio-listing" type="radio" value="" name="list-radio"
                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 focus:ring-2">
                <label for="horizontal-list-radio-listing"
                    class="w-full py-3 ms-2 text-sm font-medium text-gray-900">Listing</label>
            </div>
        </li>
        <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r">
            <div class="flex items-center ps-3">
                <input id="horizontal-list-radio-offer" type="radio" value="" name="list-radio"
                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 focus:ring-2">
                <label for="horizontal-list-radio-offer"
                    class="w-full py-3 ms-2 text-sm font-medium text-gray-900">Offer</label>
            </div>
        </li>
        <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r">
            <div class="flex items-center ps-3">
                <input id="horizontal-list-radio-activity" type="radio" value="" name="list-radio"
                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 focus:ring-2">
                <label for="horizontal-list-radio-activity"
                    class="w-full py-3 ms-2 text-sm font-medium text-gray-900">Activity</label>
            </div>
        </li>
    </ul>
</div>