<div class="bg-darkPurple text-white py-16 pb-32">
  <div class="w-1/2 m-auto text-center">
    <h6 class="tracking-widest">ASK ANYTHING</h6>
    <h4 class="font-bold text-[35px]">FC CHAIN: Your Questions, Answered</h4>
    <p class="mt-2">
      Dive into our FAQ section where we address your most common queries about
      FC CHAIN, offering clear, concise information to enhance your experience
      with our platform.
    </p>
  </div>
  <div
    class="mt-8 m-auto w-3/4"
    id="accordion-collapse"
    data-accordion="collapse"
  >
    <h2 id="accordion-collapse-heading-1">
      <button
        type="button"
        class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-white border border-transparent rounded-xl gap-3 bg-darkBlue"
        data-accordion-target="#accordion-collapse-body-1"
        aria-expanded="true"
        aria-controls="accordion-collapse-body-1"
      >
        <span>1. What is FC CHAIN?</span>
        <svg
          data-accordion-icon
          class="w-3 h-3 rotate-180 shrink-0"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 10 6"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 5 5 1 1 5"
          />
        </svg>
      </button>
    </h2>
    <div
      id="accordion-collapse-body-1"
      class="hidden"
      aria-labelledby="accordion-collapse-heading-1"
    >
      <div class="p-5 border-transparent">
        <p class="mb-2 text-white">
          FC CHAIN ​​is a Layer-2 Blockchain specifically designed to serve the
          gaming sector.
        </p>
      </div>
    </div>
    <h2 id="accordion-collapse-heading-2">
      <button
        type="button"
        class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-white border border-transparent rounded-xl gap-3 bg-darkBlue"
        data-accordion-target="#accordion-collapse-body-2"
        aria-expanded="true"
        aria-controls="accordion-collapse-body-2"
      >
        <span>2. What programming language is used in FCCHAIN?</span>
        <svg
          data-accordion-icon
          class="w-3 h-3 rotate-180 shrink-0"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 10 6"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 5 5 1 1 5"
          />
        </svg>
      </button>
    </h2>
    <div
      id="accordion-collapse-body-2"
      class="hidden"
      aria-labelledby="accordion-collapse-heading-2"
    >
      <div class="p-5 border-transparent">
        <p class="mb-2 text-white">
          FC CHAIN ​​uses the Solidity language, similar to Ethereum.
        </p>
      </div>
    </div>
    <h2 id="accordion-collapse-heading-3">
      <button
        type="button"
        class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-white border border-transparent rounded-xl gap-3 bg-darkBlue"
        data-accordion-target="#accordion-collapse-body-3"
        aria-expanded="true"
        aria-controls="accordion-collapse-body-3"
      >
        <span>3. Is the random number generation function safe?</span>
        <svg
          data-accordion-icon
          class="w-3 h-3 rotate-180 shrink-0"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 10 6"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 5 5 1 1 5"
          />
        </svg>
      </button>
    </h2>
    <div
      id="accordion-collapse-body-3"
      class="hidden"
      aria-labelledby="accordion-collapse-heading-3"
    >
      <div class="p-5 border-transparent">
        <p class="mb-2 text-white">
          Using the proven safe and reliable Chainlink VRF technology, the
          random number authentication function on FC CHAIN ​​is also guaranteed
          to be safe and reliable.
        </p>
      </div>
    </div>
    <h2 id="accordion-collapse-heading-4">
      <button
        type="button"
        class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-white border border-transparent rounded-xl gap-3 bg-darkBlue"
        data-accordion-target="#accordion-collapse-body-4"
        aria-expanded="true"
        aria-controls="accordion-collapse-body-4"
      >
        <span>4. How to ensure the randomness of the generated numbers?</span>
        <svg
          data-accordion-icon
          class="w-3 h-3 rotate-180 shrink-0"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 10 6"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 5 5 1 1 5"
          />
        </svg>
      </button>
    </h2>
    <div
      id="accordion-collapse-body-4"
      class="hidden"
      aria-labelledby="accordion-collapse-heading-4"
    >
      <div class="p-5 border-transparent">
        <p class="mb-2 text-white">
          The random number validation function on FC CHAIN ​​uses the
          blockchain's entropy to generate random numbers. This ensures the
          randomness and unpredictability of the numbers generated.
        </p>
      </div>
    </div>
    <h2 id="accordion-collapse-heading-5">
      <button
        type="button"
        class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-white border border-transparent rounded-xl gap-3 bg-darkBlue"
        data-accordion-target="#accordion-collapse-body-5"
        aria-expanded="true"
        aria-controls="accordion-collapse-body-5"
      >
        <span
          >5. Is it possible to check the correctness of the generated random
          number?</span
        >
        <svg
          data-accordion-icon
          class="w-3 h-3 rotate-180 shrink-0"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 10 6"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 5 5 1 1 5"
          />
        </svg>
      </button>
    </h2>
    <div
      id="accordion-collapse-body-5"
      class="hidden"
      aria-labelledby="accordion-collapse-heading-5"
    >
      <div class="p-5 border-transparent">
        <p class="mb-2 text-white">
          Yes, users can check the correctness of the generated random number
          using the Chainlink VRF sanity checker.
        </p>
      </div>
    </div>
    <h2 id="accordion-collapse-heading-6">
      <button
        type="button"
        class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-white border border-transparent rounded-xl gap-3 bg-darkBlue"
        data-accordion-target="#accordion-collapse-body-6"
        aria-expanded="true"
        aria-controls="accordion-collapse-body-6"
      >
        <span>6. What are the outstanding features of FC CHAIN?</span>
        <svg
          data-accordion-icon
          class="w-3 h-3 rotate-180 shrink-0"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 10 6"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 5 5 1 1 5"
          />
        </svg>
      </button>
    </h2>
    <div
      id="accordion-collapse-body-6"
      class="hidden"
      aria-labelledby="accordion-collapse-heading-6"
    >
      <div class="p-5 border-transparent">
        <p class="mb-2 text-white">
          Outstanding features of FC CHAIN ​​include high throughput, maximum
          support for games, EVM compatible development environment and Solidity
          language, development of NFTs and pre-built templates, collaboration
          with entities for game development, funding ecosystem for game
          projects, production of modules to share templates in games, random
          number authentication function, separate token issuance module for
          each game and solution suites and centers to support game development
          activities:
        </p>
        <div>
          • <b>Security</b>: to ensure that the output value of games cannot be
          tampered with, modified, or predicted in advance
        </div>
        <div>
          • <b>Usability</b>: compatible and easy for developers to build their
          own games
        </div>
        <div>
          • <b>Stable operation</b>: ensures uninterrupted gameplay, a seamless
          experience for gamers
        </div>
        <div>
          •
          <b
            >Ability to process transactions quickly and in real-time
            directly</b
          >
        </div>
        <div>
          • <b>Low transaction fees</b>: we see the inadequacy as the chain
          develops, which means the base coin used to operate the chain
          increases in price greatly - the more the chain develops, the more the
          ecosystem expands, the higher the coin price leads to transaction fees
          are an impossible number to apply to blockchain games - we build fc
          chain - stable chain with almost no increase in fees
        </div>
      </div>
    </div>
  </div>
</div>
