<footer class="flex gap-12 px-8 pt-8 pb-8 relative border-t-1">
    <div class="desktop:w-1/2">
        <img src="./assets/images/logo.png" />
        <p class="mt-4 mobile:text-sm desktop:text-[16px]">
            Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, use in a type
            specimen book. It usually begins with:
        </p>
        <div class="desktop:hidden mobile:flex gap-4 mt-4">
            <img class="w-[24px] h-[24px]" src="./assets/images/telegram.png" />
            <img class="w-[24px] h-[24px]" src="./assets/images/twitter.png" />
            <img class="w-[24px] h-[24px]" src="./assets/images/discord.png" />
            <img class="w-[24px] h-[24px]" src="./assets/images/medium.png" />
            <img class="w-[24px] h-[24px]" src="./assets/images/github.png" />
        </div>
        <div class="mt-6 mobile:text-sm desktop:text-[16px]">
            2023 © Copyright POLYSPORT. All Rights Reserved
        </div>
    </div>
    <div class="desktop:w-1/2 flex gap-8">
        <ul class="font-bold">
            <li>Home</li>
            <li class="mt-3">Marketplace</li>
            <li class="mt-3">Game</li>
            <li class="mt-3">Betting</li>
            <li class="mt-3">Document</li>
        </ul>
        <div class="mobile:hidden desktop:flex flex-col items-center justify-end">
            <span>Community</span>
            <div class="flex gap-8 mt-4">
                <img class="w-[36px] h-[36px]" src="./assets/images/telegram.png" />
                <img class="w-[36px] h-[36px]" src="./assets/images/twitter.png" />
                <img class="w-[36px] h-[36px]" src="./assets/images/discord.png" />
                <img class="w-[36px] h-[36px]" src="./assets/images/medium.png" />
                <img class="w-[36px] h-[36px]" src="./assets/images/github.png" />
            </div>
        </div>
    </div>
    <div class="absolute right-0 top-0">
        <img class="h-[250px]" src="./assets/images/decor/decor-footer.png"/>
    </div>
</footer>