<div class="flex justify-around items-center desktop:px-32 mobile:px-4 mobile:pb-8 desktop:pb-0 relative overflow-hidden desktop:pt-16 mobile:pt-32 desktop:flex-row mobile:flex-col-reverse">
  <div>
    <video autoplay loop muted class="absolute w-full top-0 left-0 z-[-1] object-cover bottom-0 right-0 h-full">
      <source src="./assets/videos/001.mp4" type="video/mp4" />
    </video>
  </div>
  <div class="desktop:w-1/2">
    <div>
      <span class="desktop:text-[39px] mobile:text-[28px] font-bold text-white">FINGERS CROSSED CHAIN</span>
      <br />
      <span class="desktop:text-[51px] mobile:text-[42px] font-bold mt-2 text-white">FC CHAIN</span>
      <br />
      <span class="text-primaryYellow text-[23px]"
        >THE WORLD'S FIRST STABLECOIN BLOCKCHAIN</span
      >
    </div>
    <div class="flex gap-4 mt-8">
      <button
        class="bg-primaryYellow text-white width-[175px] rounded-3xl px-4 py-2 font-bold"
      >
        See your Node
      </button>
      <button
        class="bg-white text-black width-[175px] rounded-3xl px-4 py-2 font-bold"
      >
        White Paper
      </button>
    </div>
  </div>
  <div
    class="flex justify-center p-8 relative desktop:h-125 mobile:h-60 desktop:w-1/2 mobile:mt-24 desktop:mt-0 mobile:w-full mobile:scale-[1.25] desktop:scale-[1]"
  >
    <div
      class="absolute desktop:top-1/2 mobile:top-1/4 left-1/2 -translate-x-1/2 -translate-y-1/2 desktop:w-[630px] desktop:h-[630px] mobile:w-[350px] mobile:h-[350px] animate-pulse"
    >
      <img
        src="./assets/images/fc-node-logo/background.png"
        class="animate-[reverseSpin_5s_linear_infinite]"
      />
    </div>
    <div
      class="absolute desktop:top-1/2 mobile:top-1/4 left-1/2 -translate-x-1/2 -translate-y-1/2 animate-pulse"
    >
      <img src="./assets/images/fc-node-logo/light-pink-round.png" />
    </div>
    <div
      class="absolute desktop:top-1/2 mobile:top-1/4 left-1/2 -translate-x-1/2 -translate-y-1/2 animate-pulse"
    >
      <img src="./assets/images/fc-node-logo/orange-circle.png" />
    </div>
    <div
      class="absolute desktop:top-1/2 mobile:top-1/4 left-1/2 -translate-x-1/2 -translate-y-1/2 animate-pulse"
    >
      <img src="./assets/images/fc-node-logo/white-circle.png" />
    </div>
    <div
      class="absolute desktop:top-1/2 mobile:top-1/4 left-1/2 -translate-x-1/2 -translate-y-1/2 animate-pulse"
    >
      <img
        src="./assets/images/fc-node-logo/curves.png"
        class="motion-safe:animate-spin"
      />
    </div>
    <div
      class="absolute desktop:top-1/2 mobile:top-1/4 left-1/2 -translate-x-1/2 -translate-y-1/2 animate-pulse"
    >
      <img src="./assets/images/fc-node-logo/pink-round.png" />
    </div>
    <div
      class="absolute desktop:top-1/2 mobile:top-1/4 left-1/2 -translate-x-1/2 -translate-y-1/2"
    >
      <img src="./assets/images/fc-node-logo/big-logo.png" />
    </div>
  </div>
</div>
