<div class="flex flex-col justify-center desktop:px-32 mobile:px-8 mobile:pb-8 desktop:pb-0 relative overflow-hidden pt-16 gap-4">
  <div class="text-center desktop:text-[36px] mobile:text-2xl font-bold text-primary">
    <h5>Marketplace NFT</h5>
  </div>
  <div class="flex justify-center">
    <img src="./assets/images/nft-collection.png" class="w-100 desktop:h-[415px]" />
  </div>
</div>
