<div class="flex gap-2 px-8 justify-center">
    <div class="relative h-[320px] w-[250px]">
        <img class="z-[1] absolute top-0 left-0" src="./assets/images/nft-wrapper.png" />
        <div class="relative z-[2] px-2">
            <div class="flex justify-center">
                <img src="./assets/images/player-card/player-1.png" />
            </div>
            <div>
                <img src="./assets/images/player-card/player-card-icon.png" />
            </div>
            <div>
                <button>+ Mint</button>
            </div>
        </div>

    </div>
    <div class="relative h-[320px] w-[250px]">
        <img class="z-[1] absolute top-0 left-0" src="./assets/images/nft-wrapper.png" />
        <div class="relative z-[2] flex justify-center">
            <img class="" src="./assets/images/player-card/player-1.png" />
        </div>
        <img class="absolute" />
    </div>
    <div class="relative h-[320px] w-[250px]">
        <img class="z-[1] absolute top-0 left-0" src="./assets/images/nft-wrapper.png" />
        <div class="relative z-[2] flex justify-center">
            <img class="" src="./assets/images/player-card/player-1.png" />
        </div>
        <img class="absolute" />
    </div>
</div>