<div class="flex justify-center desktop:px-32 mobile:px-8 mobile:pb-8 desktop:pb-0 relative overflow-hidden pt-16 gap-4 desktop:flex-row mobile:flex-col">
  <div>
    <video
      autoplay
      loop
      muted
      class="absolute w-full top-0 left-0 z-[-1] object-cover bottom-0 right-0 mobile:h-full"
    >
      <source src="./assets/videos/003.mp4" type="video/mp4" />
    </video>
  </div>
  <div class="desktop:w-1/2 flex flex-col justify-center text-white">
    <h6 class="font-bold text-[32px]">Scalability</h6>
    <p class="mt-8">
      FC CHAIN ​​differentiates itself in design-in-mind type and using the
      Solidity language, FC CHAIN ​​provides a Turing-complete environment for
      developers focused on building game modules, coins, tokens, and NFTs. The
      initial release of FC CHAIN ​​will support the development of game
      projects as well as the metaverse.
    </p>
  </div>
  <div class="desktop:w-1/2 animate-[jump_1.5s_linear_infinite]">
    <img src="./assets/images/chart.png" />
  </div>
</div>
