<div class="flex justify-around desktop:px-32 mobile:px-8 mobile:pb-8 desktop:pb-0 relative overflow-hidden pt-16 gap-4 desktop:flex-row mobile:flex-col-reverse">
  <div>
    <video autoplay loop muted class="absolute w-full top-0 left-0 z-[-1] object-cover bottom-0 right-0 h-full">
      <source src="./assets/videos/002.mp4" type="video/mp4" />
    </video>
  </div>
  <div class="desktop:w-1/2 text-right">
    <img src="./assets/images/what-is.png" class="w-[530px] h-[415px]"/>
  </div>
  <div class="desktop:w-1/2 text-white">
    <h6 class="tracking-widest">WHAT IS</h6>
    <h5 class="font-bold text-[35px]">FC Chain</h5>
    <p class="mt-4">
      FC CHAIN ​​is a Layer-2 blockchain, with the use of a stablecoin as the
      operating coin, making transaction fees on the network unchanged.
      Specifically designed for the gaming industry with random number
      authentication and built on Chainlink VRF (Verifiable Random Function)
      technology. With the random number validation function, FC CHAIN ​​will
      take full advantage of the blockchain's entropy to securely and
      unpredictably generate random numbers, creating transparency for games.
    </p>
  </div>
</div>
