<div
  class="flex justify-around desktop:px-32 mobile:px-8 mobile:pb-8 desktop:pb-0 relative overflow-hidden pt-16 gap-4 desktop:flex-row mobile:flex-col-reverse bg-red">
  <div class="w-full absolute desktop:flex mobile:hidden justify-end z-[1] wcu-rec">
    <img src="./assets/images/why-choose-us-rec.png" class="w-100 desktop:h-[415px]" />
  </div>
  <div class="desktop:w-1/2 text-right z-[2] desktop:block mobile:hidden">
    <img src="./assets/images/why-choose-us-icon.png" class="desktop:h-[415px]" />
  </div>
  <div class="mobile:flex desktop:hidden w-full justify-end z-[1] wcu-rec">
    <img src="./assets/images/why-choose-us-rec-small.png" class="w-100" />
  </div>
  <div class="mobile:block desktop:hidden absolute top-0 text-right z-[2] left-0">
    <img src="./assets/images/why-choose-us-icon-small.png" class="h-[120px]" />
  </div>
  <div class="desktop:w-1/2 text-white z-[2] mobile:flex desktop:hidden flex-col justify-center mobile:pl-16 mobile:absolute mobile:top-1/2 mobile:-translate-y-1/2 w-[80%] mt-4">
    <h6 class="text-primary desktop:text-[36px] mobile:text-2xl font-bold">Why choose US?</h6>
    <div class="text-[8px] text-gray">
      <p class="mt-4">
        Polysport is the subproject of Starksport. We started with Starksport, which successfully got us over 30k
        high-quality users. We would like to take one step further by building our game
      </p>
      <p class="mt-2">
        Polysport is a digital trading card game that uses blockchain technology. Fusion of Polygon, gaming, and
        offering
        economic incentives through play-to-earn models.
      </p>
      <p class="mt-2">
        Polysport is a game, first and foremost, not an investment vehicle, and a game that is still in development.
      </p>
      <p class="mt-2">
        Purchasing NFTs to support the project, and asking any questions you may have on our.
      </p>
    </div>
  </div>
  <div class="desktop:flex mobile:hidden desktop:w-1/2 text-white z-[2] flex-col justify-center mobile:pl-16 desktop:pl-0">
    <h6 class="text-primary desktop:text-[36px] mobile:text-2xl font-bold">Why choose US?</h6>
    <div class="text-sm text-gray">
      <p class="mt-4">
        Polysport is the subproject of Starksport. We started with Starksport, which successfully got us over 30k
        high-quality users. We would like to take one step further by building our game
      </p>
      <p class="mt-2">
        Polysport is a digital trading card game that uses blockchain technology. Fusion of Polygon, gaming, and
        offering
        economic incentives through play-to-earn models.
      </p>
      <p class="mt-2">
        Polysport is a game, first and foremost, not an investment vehicle, and a game that is still in development.
      </p>
      <p class="mt-2">
        Purchasing NFTs to support the project, and asking any questions you may have on our.
      </p>
    </div>
  </div>
</div>