<div class="grid">
    <div class="desktop:w-[50px] desktop:h-[70px] card-game" id="card-game">
        <div id="card-game-inner">
            <div id="card-game-front">
                <img src="assets/images/card.png" />
            </div>
            <div id="card-game-back">
                <img src="assets/images/player-card/player-1.png" />
            </div>
        </div>
    </div>
</div>