<section class="flex flex-col items-center">
    <img src="assets/images/player-card/player-2.png" alt="NFT" class="w-[182px] h-[250px]"/>
    <div class="text-center text-white flex flex-col items-center mt-3">
        <div
            class="flex justify-center items-center bg-[url('assets/images/game-info-frame.png')] bg-no-repeat bg-cover bg-center desktop:w-[150px] desktop:h-[40px] relative">
            <span class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-full">Choose NFT</span>
        </div>
    </div>
    <div class="mt-3">
        <img src="assets/images/my-nft.png"/>
    </div>
    <div class="mt-3">
        <div class="grid grid-cols-4 gap-2">
            <img src="assets/images/player-card/player-2.png" class="w-[55px] h-[75px]"/>
            <img src="assets/images/player-card/player-2.png" class="w-[55px] h-[75px]"/>
            <img src="assets/images/player-card/player-2.png" class="w-[55px] h-[75px]"/>
            <img src="assets/images/player-card/player-2.png" class="w-[55px] h-[75px]"/>
        </div>
        <div class="nft-pagination mt-2">
            <span class="active">1</span>
            <span>2</span>
            <span>3</span>
            <span>4</span>
            <span>5</span>
            <span>...</span>
            <span>10</span>
        </div>
    </div>
</section>