<section class="px-8">
    <div class="flex justify-center">
        <img src="assets/images/ranking-title.png" />
    </div>
    <div class="rounded-2xl px-4 py-6 ranking-table mt-2">
        <div class="border-b-2 flex text-white justify-between pb-1 items-center text-xl">
            <div>
                <img src="assets/images/top-1.png" alt="Rank 1" />
            </div>
            <span>00x0000</span>
            <span class="text-primary font-bold">2000</span>
            <span class="text-primary font-bold">PLS</span>
        </div>
        <div class="border-b-2 flex text-white justify-between pb-1 items-center text-xl">
            <div>
                <img src="assets/images/top-2.png" alt="Rank 2" />
            </div>
            <span>00x0000</span>
            <span class="text-primary font-bold">2000</span>
            <span class="text-primary font-bold">PLS</span>
        </div>
        <div class="border-b-2 flex text-white justify-between pb-1 items-center text-xl">
            <div>
                <img src="assets/images/top-3.png" alt="Rank 3" />
            </div>
            <span>00x0000</span>
            <span class="text-primary font-bold">2000</span>
            <span class="text-primary font-bold">PLS</span>
        </div>
        <div class="border-b-2 flex text-white justify-between pb-1 items-center text-xl">
            <span class="w-[50px] h-[50px] flex justify-center items-center">4</span>
            <span>00x0000</span>
            <span class="text-primary font-bold">2000</span>
            <span class="text-primary font-bold">PLS</span>
        </div>
        <div class="border-b-2 flex text-white justify-between pb-1 items-center text-xl">
            <span class="w-[50px] h-[50px] flex justify-center items-center">5</span>
            <span>00x0000</span>
            <span class="text-primary font-bold">2000</span>
            <span class="text-primary font-bold">PLS</span>
        </div>
    </div>
</section>