<div
  class="flex desktop:flex-row mobile:flex-col justify-around items-center desktop:px-32 mobile:px-4 mobile:pb-8 desktop:pb-0 relative overflow-hidden desktop:pt-36 mobile:pt-32 gap-8">
  <div class="desktop:w-1/2">
    <div>
      <span class="desktop:text-[58px] mobile:text-[28px] font-bold text-white">LEARN, CREATE,</span>
      <br />
      <span class="desktop:text-[58px] mobile:text-[28px] font-bold text-white">EXPLORE & COLLECT</span>
      <br />
      <span class="desktop:text-[58px] mobile:text-[28px] font-bold text-white">WITH POLYSPORT</span>
      <br />
    </div>
    <div class="flex gap-4 mt-8">
      <button class="button-mint-and-burn text-white width-[175px] rounded-3xl px-4 py-2 font-bold">
        Mint & Burn
      </button>
      <button class="secondary width-[175px]">
        Document
      </button>
    </div>
  </div>
  <div>
    <div class="desktop:w-[547px] desktop:h-[597px] mobile:w-[250px] mobile:h-[350px]">
      <img src="./assets/images/intro-player-cards.png" />
    </div>
  </div>
</div>