<div
  class="desktop:px-32 mobile:px-8 mobile:pb-8 desktop:pb-0 relative overflow-hidden text-white py-16 desktop:flex-row mobile:flex-col">
  <div class="text-center desktop:text-[36px] mobile:text-2xl text-primary font-bold">
    <h5 class="text-primary">POLY BET</h5>
  </div>
  <div class="flex flex-col gap-2 mobile:text-xs desktop:text-xl mt-8">
    <div class="flex items-center gap-2 poly-bet-item rounded-2xl px-4 py-2">
      <div class="flex items-center gap-2 grow-[2]">
        <img src="./assets/images/team-logo/paris.png" class="mobile:w-[30px] mobile:h-[30px]" />
        <span>Liverpool</span>
      </div>
      <div class="grow-[1]">
        VS
      </div>
      <div class="flex items-center gap-2 grow-[2]">
        <img src="./assets/images/team-logo/arsenal.png" class="mobile:w-[30px] mobile:h-[30px]" />
        <span>Arsenal</span>
      </div>
      <div class="mobile:block desktop:hidden">
        <div class="grow-[2]">Burdesliga</div>
        <div class="text-success grow-[2]">
          <span>25/1</span>
          <br class="desktop:block mobile:hidden" />
          <span>14:00</span>
        </div>
        <div class="grow-[2] desktop:text-[16px] mobile:text-xs">Place a bet</div>
      </div>
      <div class="mobile:hidden desktop:block grow-[2]">Burdesliga</div>
      <div class="mobile:hidden desktop:block text-success grow-[2]">
        <span>25/1</span>
        <br class="desktop:block mobile:hidden" />
        <span>14:00</span>
      </div>
      <div class="mobile:hidden desktop:block grow-[2] desktop:text-[16px] mobile:text-xs">Place a bet</div>
    </div>
  </div>
</div>