<div
  class="flex flex-col justify-center desktop:px-32 mobile:px-8 mobile:pb-8 desktop:pb-0 relative overflow-hidden pt-16 gap-4">
  <div class="text-center text-primary desktop:text-[36px] mobile:text-2xl font-bold">
    <h5 class="text-primary">POLY GAMES</h5>
  </div>
  <div class="flex desktop:gap-12 mobile:gap-6 desktop:flex-row mobile:flex-col-reverse mt-8">
    <div class="desktop:w-1/2 mobile:text-xs desktop:text-sm text-gray">
      <p>
        Polysport is a lottery game where you stand a chance to win cash prizes every time you play. You have 50 boxes
        to choose from and you WIN the amount in the lucky box. Pick any box from 1-50 to win instantly by using an NFT.
        Winners can earn real money, making it a lucrative platform for players with the best cards. Polysport works on
        the Polygon block chain and requires players to create an account or connect an existing Web3 wallet like Meta
        Mask to get started.
      </p>
      <div class="flex mobile:justify-end desktop:justify-start">
        <button class="button-play-game text-white width-[175px] rounded-3xl px-4 py-2 font-bold mt-4">
          Play Game
        </button>
      </div>
    </div>
    <div class="desktop:w-1/2">
      <img src="./assets/images/video-poly-games.png" class="w-100 desktop:h-[415px]" />
    </div>
  </div>
</div>