<div class="flex desktop:flex-row mobile:flex-col justify-center items-center desktop:px-32 mobile:px-4 mobile:pb-8 desktop:pb-0 relative overflow-hidden desktop:pt-36 mobile:pt-32 gap-8 text-white">
    <div class="relative h-[320px] w-[250px]">
        <img class="z-[1] absolute top-0 left-0" src="./assets/images/nft-wrapper.png" />
        <div class="relative z-[2] px-4">
            <div class="flex justify-center">
                <img src="./assets/images/player-card/player-1.png" />
            </div>
            <div>
                <img src="./assets/images/player-card/player-card-icon.png" />
            </div>
            <div class="flex justify-center mt-2">
                <button class="button-burn px-4 py-2 rounded">Burn</button>
            </div>
        </div>
    </div>
    <div class="relative h-[320px] w-[250px]">
        <img class="z-[1] absolute top-0 left-0" src="./assets/images/nft-wrapper.png" />
        <div class="relative z-[2] px-4">
            <div class="flex justify-center">
                <img src="./assets/images/player-card/player-1.png" />
            </div>
            <div>
                <img src="./assets/images/player-card/player-card-icon.png" />
            </div>
            <div class="flex justify-center mt-2">
                <button class="button-burn px-4 py-2 rounded">Burn</button>
            </div>
        </div>
    </div>
    <div class="relative h-[320px] w-[250px]">
        <img class="z-[1] absolute top-0 left-0" src="./assets/images/nft-wrapper.png" />
        <div class="relative z-[2] px-4">
            <div class="flex justify-center">
                <img src="./assets/images/player-card/player-1.png" />
            </div>
            <div>
                <img src="./assets/images/player-card/player-card-icon.png" />
            </div>
            <div class="flex justify-center mt-2">
                <button class="button-burn px-4 py-2 rounded">Burn</button>
            </div>
        </div>
    </div>
</div>