<div
    class="flex desktop:flex-row mobile:flex-col justify-between desktop:px-32 mobile:px-4 mobile:pb-8 desktop:pb-0 relative overflow-hidden desktop:pt-36 mobile:pt-32 gap-32 text-white">
    <div class="w-1/2">
        <!--Trang NFT details với complete listing-->
       <!-- <%- include('introduction') %> -->
       <%- include('complete-listing') %>
    </div>
    <div class="w-1/2">
        <div class="flex justify-center rounded-2xl nft-card-detail-img">
            <img src="./assets/images/player-card/player-2.png" />
        </div>
        <div class="mt-4">
            <h5 class="text-primary text-[32px] mb-2 font-bold">Description</h5>
            <span>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                essentially unchanged.It has survived not only five centuries, but also the leap into electronic
                typesetting, remaining essentially unchanged.
            </span>
        </div>
        <div class="mt-4">
            <h5 class="text-primary text-[32px] font-bold">Trait</h5>
            <div class="flex gap-2 mt-2 justify-center w-full">
                <div class="trait-item px-4 py-2">
                    <span>Body</span>
                    <span>Light 9%</span>
                    <span>Floor: 300 MATIC</span>
                </div>
                <div class="trait-item px-4 py-2">
                    <span>Body</span>
                    <span>Light 9%</span>
                    <span>Floor: 300 MATIC</span>
                </div>
                <div class="trait-item px-4 py-2">
                    <span>Body</span>
                    <span>Light 9%</span>
                    <span>Floor: 300 MATIC</span>
                </div>
            </div>
        </div>
        <div class="mt-4">
            <h5 class="text-primary text-[32px] font-bold">Details</h5>
            <div class="mt-2">
                <div class="flex justify-between">
                    <span>Contract Address</span>
                    <span>0544xx.....3120003</span>
                </div>
                <div class="flex justify-between">
                    <span>Token ID</span>
                    <span>0544xx.....3120003</span>
                </div>
                <div class="flex justify-between">
                    <span>Token Standard</span>
                    <span>0544xx.....3120003</span>
                </div>
                <div class="flex justify-between">
                    <span>Chain</span>
                    <span>0544xx.....3120003</span>
                </div>
                <div class="flex justify-between">
                    <span>Last Update</span>
                    <span>0544xx.....3120003</span>
                </div>
                <div class="flex justify-between">
                    <span>Creator Earnings</span>
                    <span>0544xx.....3120003</span>
                </div>
            </div>
        </div>
    </div>
</div>