<div class="text-center mt-8">
    <h5 class="font-bold text-primary text-[20px]">More from this collection</h6>
    <div class="mt-4 flex gap-2 overflow-auto px-16">
        <img src="./assets/images/player-card/player-1.png"/>
        <img src="./assets/images/player-card/player-1.png"/>
        <img src="./assets/images/player-card/player-1.png"/>
        <img src="./assets/images/player-card/player-1.png"/>
        <img src="./assets/images/player-card/player-1.png"/>
    </div>
    <div class="mt-4">
        <button>View Collection</button>
    </div>
</div>