body {
    background: rgba(26, 26, 26, 1);
    color: white;
}

.button-connect-wallet {
    background:
        linear-gradient(142.41deg, #2824E6 -12.51%, #E40FAC 136.14%);
    box-shadow: 0px 2px 12px 0px rgba(147, 30, 128, 1);

}

.button-mint-and-burn {
    background:
        linear-gradient(142.41deg, #2824E6 -12.51%, #E40FAC 136.14%);
    border: 1px solid rgba(185, 32, 237, 1);
    box-shadow: 0px 2px 12px 0px rgba(147, 30, 128, 1);

}

.button-document {
    background: linear-gradient(142.41deg, rgba(40, 36, 230, 0.4) -12.51%, rgba(228, 15, 172, 0.4) 136.14%);

    border: 1px solid rgba(185, 32, 237, 1) box-shadow: 0px 2px 12px 0px rgba(147, 30, 128, 1);
    box-shadow: 0px 2px 12px 0px rgba(147, 30, 128, 1);
}

.button-play-game {
    background: linear-gradient(142.41deg, #2824E6 -12.51%, #E40FAC 136.14%),
        linear-gradient(0deg, #B920ED, #B920ED);
    border: 1px solid rgba(185, 32, 237, 1);
}

.poly-bet-item {
    background:
        linear-gradient(142.41deg, rgba(40, 36, 230, 0.4) -12.51%, rgba(228, 15, 172, 0.4) 136.14%);
    border: 1px solid rgba(185, 32, 237, 1);
}

.create-mint-nft-item {
    background: linear-gradient(0deg, #1A1B23, #1A1B23),
        linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        linear-gradient(0deg, #FFFFFF, #FFFFFF);

    border-width: 2px, 0px, 2px, 0px;

    border-style: solid;

    border-image-source: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        linear-gradient(0deg, #FFFFFF, #FFFFFF);
}