body {
    background: rgba(26, 26, 26, 1) !important;
    color: white;
}

button {
    background:
        linear-gradient(142.41deg, #2824E6 -12.51%, #E40FAC 136.14%) !important;
    box-shadow: 0px 2px 12px 0px rgba(147, 30, 128, 1) !important;
    padding: 8px 16px !important;
    border-radius: 8px !important;
    color: white !important;
    cursor: pointer;
    padding: 4px 12px;
    font-weight: bold !important;
}

button.primary {
    background: 
linear-gradient(142.41deg, #2824E6 -12.51%, #E40FAC 136.14%) !important;
    border: 1px solid rgba(185, 32, 237, 1) !important;
    box-shadow: 0px 2px 12px 0px rgba(147, 30, 128, 1) !important;
}

button.secondary {
    background: linear-gradient(142.41deg, rgba(40, 36, 230, 0.4) -12.51%, rgba(228, 15, 172, 0.4) 136.14%) !important;
border: 1px solid rgba(185, 32, 237, 1) !important;
box-shadow: 0px 2px 12px 0px rgba(147, 30, 128, 1) !important;
}

button.carousel-control-prev, button.carousel-control-next {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    z-index: 30 !important;
    font-weight: 700;
}

@media (min-width: 1164px) {
    button.carousel-control-next {
        margin-right: -100px;
    }
    button.carousel-control-prev {
        margin-left: -100px;
    }
}

#accordion-collapse button {
    background: 
linear-gradient(0deg, rgba(185, 32, 237, 0.2), rgba(185, 32, 237, 0.2)) !important; 
}

#accordion-collapse h2 {
    margin-bottom: 12px;
}

.button-connect-wallet {
    background:
        linear-gradient(142.41deg, #2824E6 -12.51%, #E40FAC 136.14%);
    box-shadow: 0px 2px 12px 0px rgba(147, 30, 128, 1);

}

.button-mint-and-burn {
    background:
        linear-gradient(142.41deg, #2824E6 -12.51%, #E40FAC 136.14%);
    border: 1px solid rgba(185, 32, 237, 1);
    box-shadow: 0px 2px 12px 0px rgba(147, 30, 128, 1);

}

.button-document {
    background: linear-gradient(142.41deg, rgba(40, 36, 230, 0.4) -12.51%, rgba(228, 15, 172, 0.4) 136.14%);

    border: 1px solid rgba(185, 32, 237, 1) box-shadow: 0px 2px 12px 0px rgba(147, 30, 128, 1);
    box-shadow: 0px 2px 12px 0px rgba(147, 30, 128, 1);
}

.button-play-game {
    background: linear-gradient(142.41deg, #2824E6 -12.51%, #E40FAC 136.14%),
        linear-gradient(0deg, #B920ED, #B920ED);
    border: 1px solid rgba(185, 32, 237, 1);
}

.poly-bet-item {
    background:
        linear-gradient(142.41deg, rgba(40, 36, 230, 0.4) -12.51%, rgba(228, 15, 172, 0.4) 136.14%);
    border: 1px solid rgba(185, 32, 237, 1);
}

.create-mint-nft-item {
    background: linear-gradient(0deg, #1A1B23, #1A1B23),
        linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        linear-gradient(0deg, #FFFFFF, #FFFFFF);

    border-width: 2px, 0px, 2px, 0px;

    border-style: solid;

    border-image-source: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        linear-gradient(0deg, #FFFFFF, #FFFFFF);
}

#myCarousel {
    margin-top: 50px;
}

@media (max-width: 768px) {
    .carousel-inner .carousel-item>div {
        display: none;
    }

    .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-start,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

@media (min-width: 768px) {

    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next,
    .carousel-item-next:not(.carousel-item-start) {
        transform: translateX(25%) !important;
    }

    .carousel-inner .carousel-item-left.active,
    .carousel-item-prev:not(.carousel-item-end),
    .active.carousel-item-start,
    .carousel-item-prev:not(.carousel-item-end) {
        transform: translateX(-25%) !important;
    }

    .carousel-item-next.carousel-item-start,
    .active.carousel-item-end {
        transform: translateX(0) !important;
    }

    .carousel-inner .carousel-item-prev,
    .carousel-item-prev:not(.carousel-item-end) {
        transform: translateX(-25%) !important;
    }
}

.carousel-item .card {
    background-color: transparent !important;
}

.carousel-item .card-body {
    padding: 0
}

footer {
    color: white !important;
    border-top: 2px solid rgba(185, 32, 237, .5);
}

footer p {
    color: rgba(198, 198, 198, 1) !important;
}

.nfts {
    color:#FD1C68;
}

.marketplace-card-footer {
    background: rgba(59, 59, 59, 1);
}

.top-volume {
    background: linear-gradient(93.63deg, #484848 5.36%, rgba(72, 72, 72, 0.36) 47.78%, #484848 91.69%),
linear-gradient(0deg, #2C2C2C, #2C2C2C);
border-radius: 20px;
padding: 24px;
border: 1px solid;

border-image-source: linear-gradient(93.63deg, #484848 5.36%, rgba(72, 72, 72, 0.36) 47.78%, #484848 91.69%);
box-shadow: 5px 5px 10px 0px rgba(70, 70, 70, 1) inset;
}

.button-explore-all {
    background: linear-gradient(142.41deg, #2824E6 -12.51%, #E40FAC 136.14%);
}

.button-burn {
    background: linear-gradient(142.41deg, #2824E6 -12.51%, #E40FAC 136.14%);
}

.search-input {
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid;

    border-image-source: linear-gradient(142.41deg, #2824E6 -12.51%, #E40FAC 136.14%);
}

.list-filter li, .list-filter li div {
    background: rgba(0, 0, 0, 0.2);
    color: white;
}

.list-filter li label {
    color: white;
}

input[type="radio"]{
    color:rgba(185, 130, 255, 1);
}

h5.text-primary,
h6.text-primary,
span.text-primary {
    color: rgba(185, 130, 255, 1) !important;
}

.current-price {
    background: linear-gradient(93.63deg, #484848 5.36%, rgba(72, 72, 72, 0.36) 47.78%, #484848 91.69%),
linear-gradient(0deg, rgba(185, 32, 237, 0.2), rgba(185, 32, 237, 0.2));
padding: 8px 16px;
}

.nft-card-detail-img {
    border: 1px solid rgba(185, 130, 255, 1);
    padding: 4px 0;
    /* background: linear-gradient(142.41deg, #2824E6 -12.51%, #E40FAC 136.14%); */
    border: 2px solid;
border-image-source: linear-gradient(142.41deg, #2824E6 -12.51%, #E40FAC 136.14%);
box-shadow: 0px 2px 12px 0px rgba(147, 30, 128, 1);
}

.trait-item {
    background: linear-gradient(142.41deg, #2824E6 -12.51%, #E40FAC 136.14%);
    border: 1px solid;
border-image-source: linear-gradient(142.41deg, #2824E6 -12.51%, #E40FAC 136.14%);
display: flex;
flex-direction: column;
align-items: center;
border: 1px;
border-radius: 8px;
}

.welcome-admin {
    background: rgba(44, 44, 44, 1);
    box-shadow: 8px 8px 10px 0px rgba(70, 70, 70, 1) inset;
    padding: 24px;
}

.collection-item {
    display: flex;
    gap: .5rem;
    background: rgba(44, 44, 44, 1);
    box-shadow: 8px 8px 10px 0px rgba(70, 70, 70, 1) inset;
    padding: 16px;
    border-radius: 24px;
    align-items: center;
}

.type-of-sale-item {
    background: linear-gradient(93.63deg, #484848 5.36%, rgba(72, 72, 72, 0.36) 47.78%, #484848 91.69%),
linear-gradient(0deg, rgba(185, 32, 237, 0.2), rgba(185, 32, 237, 0.2));
    padding: 12px 24px;
    border-radius: 10px;
    border: 1px solid;

border-image-source: linear-gradient(93.63deg, #484848 5.36%, rgba(72, 72, 72, 0.36) 47.78%, #484848 91.69%);
}

.set-price-item {
    background: linear-gradient(93.63deg, #484848 5.36%, rgba(72, 72, 72, 0.36) 47.78%, #484848 91.69%),
linear-gradient(0deg, rgba(185, 32, 237, 0.2), rgba(185, 32, 237, 0.2));
border: 1px solid;
border-image-source: linear-gradient(93.63deg, #484848 5.36%, rgba(72, 72, 72, 0.36) 47.78%, #484848 91.69%);
border-radius: 10px;
padding: 12px 24px;
}

.amount {
    background: linear-gradient(93.63deg, #484848 5.36%, rgba(72, 72, 72, 0.36) 47.78%, #484848 91.69%),
linear-gradient(0deg, rgba(185, 32, 237, 0.2), rgba(185, 32, 237, 0.2));
border: 1px solid;

border-image-source: linear-gradient(93.63deg, #484848 5.36%, rgba(72, 72, 72, 0.36) 47.78%, #484848 91.69%);
border-radius:  10px;
padding: 12px 8px;
}

.duration button.button-duration {
    background: linear-gradient(93.63deg, #484848 5.36%, rgba(72, 72, 72, 0.36) 47.78%, #484848 91.69%),
linear-gradient(0deg, rgba(185, 32, 237, 0.2), rgba(185, 32, 237, 0.2)) !important;
border: 1px solid !important;

border-image-source: linear-gradient(93.63deg, #484848 5.36%, rgba(72, 72, 72, 0.36) 47.78%, #484848 91.69%) !important;
}