<div
    class="flex desktop:flex-row mobile:flex-col justify-around items-center desktop:px-32 mobile:px-4 mobile:pb-8 desktop:pb-0 relative overflow-hidden desktop:pt-36 mobile:pt-32 gap-8 text-white">
    <div class="desktop:w-1/2">
        <div>
            <span class="desktop:text-[58px] mobile:text-[28px] font-bold text-white">Discover, collect, and sell
                extraordinary <span class="nfts">NFTs</span></span>
            <br />
        </div>
        <div class="mt-16">
            <div class="text-white">
                NFT is the world's first and largest NFT marketplace
            </div>
            <div class="flex gap-4 mt-4">
                <button class="button-mint-and-burn text-white width-[250px] rounded-3xl px-4 py-2 font-bold">
                    Burn
                </button>
                <button class="button-document text-white width-[250px] rounded-3xl px-4 py-2 font-bold">
                    Mint
                </button>
            </div>
        </div>
        <div class="flex gap-4 mt-12 text-xl">
            <div>
                <span>240k+</span>
                <br />
                <span>Total Sale</span>
            </div>
            <div>
                <span>100k+</span>
                <br />
                <span>Auctions</span>
            </div>
            <div>
                <span>240k+</span>
                <br />
                <span>Artists</span>
            </div>
        </div>
    </div>
    <div>
        <div class="desktop:w-[547px] desktop:h-[597px] mobile:w-[250px] mobile:h-[350px]">
            <img src="./assets/images/marketplace-intro.png" />
        </div>
    </div>
</div>