<div
    class="desktop:px-32 mobile:px-8 mobile:pb-8 desktop:pb-0 relative overflow-hidden text-white desktop:flex-row mobile:flex-col">
    <div class="text-center desktop:text-[36px] mobile:text-2xl text-primary font-bold">
        <h5>Top Volume</h5>
    </div>
    <div class="flex gap-2 mt-8 overflow-auto">
        <div class="flex gap-3 items-center top-volume min-w-[240px]">
            <img src="./assets/images/top-volume.png" class="mobile:w-[64px] mobile:h-[64px]" />
            <div>
                <b class="text-xl">Polysport</b>
                <br />
                <span>MATIC 600,000</span>
            </div>
        </div>
        <div class="flex gap-3 items-center top-volume min-w-[240px]">
            <img src="./assets/images/top-volume.png" class="mobile:w-[64px] mobile:h-[64px]" />
            <div>
                <b class="text-xl">Polysport</b>
                <br />
                <span>MATIC 600,000</span>
            </div>
        </div>
        <div class="flex gap-3 items-center top-volume min-w-[240px]">
            <img src="./assets/images/top-volume.png" class="mobile:w-[64px] mobile:h-[64px]"/>
            <div>
                <b class="text-xl">Polysport</b>
                <br />
                <span>MATIC 600,000</span>
            </div>
        </div>
        <div class="flex gap-3 items-center top-volume min-w-[240px]">
            <img src="./assets/images/top-volume.png" class="mobile:w-[64px] mobile:h-[64px]"/>
            <div>
                <b class="text-xl">Polysport</b>
                <br />
                <span>MATIC 600,000</span>
            </div>
        </div>
        <div class="flex gap-3 items-center top-volume min-w-[240px]">
            <img src="./assets/images/top-volume.png" class="mobile:w-[64px] mobile:h-[64px]"/>
            <div>
                <b class="text-xl">Polysport</b>
                <br />
                <span>MATIC 600,000</span>
            </div>
        </div>
    </div>
</div>