<div class="text-white desktop:px-32 mobile:px-8 mt-16">
    <div class="flex justify-between">
        <h5 class="text-2xl text-primary font-bold">Trending</h5>
        <button class="button-explore-all px-4 py-2 rounded">Explore all</button>
    </div>
    <div class="flex mt-8 overflow-auto gap-4">
        <div class="bg-group-card rounded-xl p-4 min-w-[350px]">
            <div class="grid grid-cols-2 gap-2">
                <div class="bg-card-bg rounded-xl">
                    <img class="w-[155px] h-[155px]" src="./assets/images/trending-card/player-1.png" />
                </div>
                <div class="bg-card-bg rounded-xl">
                    <img class="w-[155px] h-[155px]" src="./assets/images/trending-card/player-1.png" />
                </div>
                <div class="bg-card-bg rounded-xl">
                    <img class="w-[155px] h-[155px]" src="./assets/images/trending-card/player-1.png" />
                </div>
                <div class="bg-card-bg rounded-xl">
                    <img class="w-[155px] h-[155px]" src="./assets/images/trending-card/player-1.png" />
                </div>
            </div>
            <div class="mt-4">
                <img src="./assets/images/trending-card/user-details.png"/>
            </div>
        </div>
        <div class="bg-group-card rounded-xl p-4 min-w-[350px]">
            <div class="grid grid-cols-2 gap-2">
                <div class="bg-card-bg rounded-xl">
                    <img class="w-[155px] h-[155px]" src="./assets/images/trending-card/player-1.png" />
                </div>
                <div class="bg-card-bg rounded-xl">
                    <img class="w-[155px] h-[155px]" src="./assets/images/trending-card/player-1.png" />
                </div>
                <div class="bg-card-bg rounded-xl">
                    <img class="w-[155px] h-[155px]" src="./assets/images/trending-card/player-1.png" />
                </div>
                <div class="bg-card-bg rounded-xl">
                    <img class="w-[155px] h-[155px]" src="./assets/images/trending-card/player-1.png" />
                </div>
            </div>
            <div class="mt-4">
                <img src="./assets/images/trending-card/user-details.png"/>
            </div>
        </div>
        <div class="bg-group-card rounded-xl p-4 min-w-[350px]">
            <div class="grid grid-cols-2 gap-2">
                <div class="bg-card-bg rounded-xl">
                    <img class="w-[155px] h-[155px]" src="./assets/images/trending-card/player-1.png" />
                </div>
                <div class="bg-card-bg rounded-xl">
                    <img class="w-[155px] h-[155px]" src="./assets/images/trending-card/player-1.png" />
                </div>
                <div class="bg-card-bg rounded-xl">
                    <img class="w-[155px] h-[155px]" src="./assets/images/trending-card/player-1.png" />
                </div>
                <div class="bg-card-bg rounded-xl">
                    <img class="w-[155px] h-[155px]" src="./assets/images/trending-card/player-1.png" />
                </div>
            </div>
            <div class="mt-4">
                <img src="./assets/images/trending-card/user-details.png"/>
            </div>
        </div>
        <div class="bg-group-card rounded-xl p-4 min-w-[350px]">
            <div class="grid grid-cols-2 gap-2">
                <div class="bg-card-bg rounded-xl">
                    <img class="w-[155px] h-[155px]" src="./assets/images/trending-card/player-1.png" />
                </div>
                <div class="bg-card-bg rounded-xl">
                    <img class="w-[155px] h-[155px]" src="./assets/images/trending-card/player-1.png" />
                </div>
                <div class="bg-card-bg rounded-xl">
                    <img class="w-[155px] h-[155px]" src="./assets/images/trending-card/player-1.png" />
                </div>
                <div class="bg-card-bg rounded-xl">
                    <img class="w-[155px] h-[155px]" src="./assets/images/trending-card/player-1.png" />
                </div>
            </div>
            <div class="mt-4">
                <img src="./assets/images/trending-card/user-details.png"/>
            </div>
        </div>
        <div class="bg-group-card rounded-xl p-4 min-w-[350px]">
            <div class="grid grid-cols-2 gap-2">
                <div class="bg-card-bg rounded-xl">
                    <img class="w-[155px] h-[155px]" src="./assets/images/trending-card/player-1.png" />
                </div>
                <div class="bg-card-bg rounded-xl">
                    <img class="w-[155px] h-[155px]" src="./assets/images/trending-card/player-1.png" />
                </div>
                <div class="bg-card-bg rounded-xl">
                    <img class="w-[155px] h-[155px]" src="./assets/images/trending-card/player-1.png" />
                </div>
                <div class="bg-card-bg rounded-xl">
                    <img class="w-[155px] h-[155px]" src="./assets/images/trending-card/player-1.png" />
                </div>
            </div>
            <div class="mt-4">
                <img src="./assets/images/trending-card/user-details.png"/>
            </div>
        </div>
    </div>
</div>